.box1 {
	width:	50%;
	margin:	auto;
	text-align:	center;
}

.box2 {
	display:	flex;
	justify-content:	center;
	align-items:	center;
	
}

.red-img {
	height:	100px;
	margin:	auto;
	filter:	brightness(0)
		 saturate(100%)
		 invert(12%)
		 sepia(89%)
		 saturate(7156%)
		 hue-rotate(2deg)
		 brightness(109%)
		 contrast(114%);
}

.panel-height-helper {
	overflow:	auto;
}

.button1 {
	width:	22px;
	height:	22px;
	border:	none;
	background-color:	green;
	margin: 0 10px;
	border-radius:	50%;
	animation:	pulse 2s infinite;
}

@keyframes pulse {
	0%	{ box-shadow: 0 0 0 0 rgba(0,255,0,0.4); }
	50%	{ box-shadow: 0 0 0 20px rgba(0,255,0,0); }
	100%	{ box-shadow: 0 0 0 0 rgba(0,255,0,0.0); }
}

